body{
    background-color: #c0c2c0;
}

hr{
    border: 2px solid #3e403e;
}

.fa {
    padding: 15px;
    font-size: 25px;
    
    text-decoration: none;
    
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
  
  /* Twitter */
.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
  